@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Menlo";
  src: url("../src/assets/fonts/Menlo-Regular.ttf");
}

body {
  background-color: var(--color-bgPrimary);
}

@theme {
  /* Font Families */
  --font-primary: "Roboto Mono", "Menlo", Courier, monospace;
  --font-secondary: "Roboto", "Menlo", Courier, monospace;

  /* Background Colors */
  --color-bgPrimary: #1a2026; /* main body color */
  --color-bgSecondary: #1d252c; /* secondary body color */

  /* Font Colors */
  --color-primary: #bbc1cf;
  --color-secondary: #a8a6ac;
  --color-bluish: #33ced8;
  --color-orange: #f0be72;
  --color-greenish: #00684a;
  --color-darkbluish: #7790b6;
  --color-brownish: #bcaba2;

  /* Navbar Colors */
  --color-customHover: #b8bfce;
  --color-customNormalHover: #565c6c;
}

/* NOT GOOD PRACTICE, ONLY ONE TIME USE FOR GRADIENT TEXT */
.text-primary-gradient {
  background: linear-gradient(#bbc1cf, #95a8c9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.transition-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
}

.transition-stage-slideIn,
.transition-stage-slideOut {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.transition-stage-slideIn {
  animation: slideIn 0.35s ease-out forwards;
}

.transition-stage-slideOut {
  animation: slideOut 0.35s ease-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
